<!DOCTYPE html>
<html ng-app="CalendarModule">
  <head>
    <title><%= title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/js/dependencies/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/js/dependencies/simplecolorpicker/jquery.simplecolorpicker.min.css">
    <link rel="stylesheet" href="/js/dependencies/simplecolorpicker/jquery.simplecolorpicker-regularfont.css">
    <link rel="stylesheet" href="/js/dependencies/angular/directives/ui-bootstrap-datetimepicker/datetimepicker.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script type="text/javascript">
      window.myApp = {};
      window.myApp.locals = {
        toasterOptions: { 'showDuration': '500' },
        _csrf: '<%= _csrf %>'
      };
    </script>

  </head>

  <body <%- bodyAttr %>>

<%- partial ('../_nav_authorized.ejs') %>

  <div class="container">
    <!--<div data-ng-view="" id="ng-view"></div>-->
    <section id="directives-calendar" ng-controller="CalendarController">
      <div class="row-fluid">
        <div class="col-md-8">
          <div class="btn-toolbar">
            <p class="pull-right lead">Calendar</p>
            <div class="btn-group">
              <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
              <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
              <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
            </div>
          </div>
          <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
        </div>
      </div>
    </section>

    <script type="text/ng-template" id="editEventModal.html">
      <div class="modal-header">
        <h3>Edit: {{selectedEvent.title}}</h3>
      </div>
      <form ng-submit="submit()" name="createEventForm">
        <div class="modal-body">
          <div class="row">
            <div class="control-group form-group" ng-class="{'has-error':createEventForm.title.$invalid && createEventForm.title.$dirty}">
              <label class="col-md-2 top7">Title</label>
              <div class="col-md-6">
                <input type="text" name="title" class="form-control" ng-model="selectedEvent.title" required />
                <span class="help-block has-error" ng-if="createEventForm.title.$invalid && createEventForm.title.$dirty">
                  <span ng-show="createEventForm.title.$error.required">Title is required.</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row top15">
            <label class="col-md-2">Start</label>
            <div class="dropdown col-md-8">
              {{ data.start | date:'medium' }}
              <a class="dropdown-toggle" id="pickerStartDate" role="button" data-toggle="dropdown" data-target="#" href="#">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                Select Start Date
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="data.start"
                                  data-on-set-time="onSetTime(newDate, oldDate)"
                                  data-datetimepicker-config="{ startView: 'hour', minuteStep: 15, dropdownSelector: '#pickerStartDate' }"></datetimepicker>
              </ul>
            </div>
          </div>
          <div class="row top10">
            <label class="col-md-2" ng-class="{'text-danger': !data.isEndValid}">End</label>
            <div class="dropdown col-md-8" ng-class="{'text-danger': !data.isEndValid}">
              {{ data.end | date:'medium' }}
              <a class="dropdown-toggle" id="pickerEndDate" role="button" data-toggle="dropdown" ng-class="{'text-danger': !data.isEndValid}" data-target="#" href="#">
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                Select End Date
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <datetimepicker data-ng-model="data.end"
                                  data-on-set-time="onSetTime(newDate, oldDate)"
                                  data-datetimepicker-config="{ startView: 'hour', minuteStep: 15, dropdownSelector: '#pickerEndDate' }"></datetimepicker>
              </ul>
            </div>
          </div>
          <div class="row" ng-show="!data.isEndValid">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-danger"><b>End Date must be later then the Start Date</b></div>
          </div>
          <div class="row top10">
            <label class="col-md-2 top7">Color</label>
            <div class="col-md-8">
              <select name="colorpicker-regularfont" class="form-control" ng-model="selectedEvent.color">
                <option value="#5484ed">Bold blue</option>
                <option value="#7bd148">Green</option>
                <option value="#a4bdfc">Blue</option>
                <option value="#46d6db">Turquoise</option>
                <option value="#7ae7bf">Light green</option>
                <option value="#51b749">Bold green</option>
                <option value="#fbd75b">Yellow</option>
                <option value="#ffb878">Orange</option>
                <option value="#ff887c">Red</option>
                <option value="#dc2127">Bold red</option>
                <option value="#dbadff">Purple</option>
                <option value="#e1e1e1">Gray</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          <button class="btn btn-danger" type="button" ng-hide="!selectedEvent.id" ng-click="delete()">Delete</button>
          <input type="submit" class="btn primary-btn" ng-disabled="createEventForm.$invalid || !data.isEndValid" value="Save" />
        </div>
      </form>
    </script>
  </div>

<%- partial ('../_footer.ejs') %>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery/jquery.min.js"></script>
  <script src="/js/dependencies/bootstrap/bootstrap.min.js"></script>
  <script src="/js/dependencies/angular.min.js"></script>
  <script src="/js/dependencies/angular/directives/compareTo.module.js"></script>
  <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
  <script src="/js/public/utils.js"></script>
  <!--SCRIPTS END-->
  
  <!--<script src="/js/dependencies/angular/angular-route.min.js"></script>-->
  <script src="/js/dependencies/bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script src="/js/dependencies/moment/moment.min.js"></script>
  <script src="/js/dependencies/fullcalendar/fullcalendar.min.js"></script>
  <!--<script src="/js/dependencies/fullcalendar/gcal.js"></script>-->
  <script src="/js/dependencies/angular/directives/calendar.min.js"></script>
  <script src="/js/dependencies/angular/directives/ui-bootstrap-datetimepicker/datetimepicker.min.js"></script>
  <script src="/js/dependencies/simplecolorpicker/jquery.simplecolorpicker.min.js"></script>
  <script src="/js/private/schedule/CalendarModule.js"></script>
  <script src="/js/private/schedule/EventService.js"></script>
  <script src="/js/private/schedule/CalendarController.js"></script>

  </body>
</html>


