<!DOCTYPE html>
<html ng-app="CalendarModule">
  <head>
    <title><%= title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/js/dependencies/fullcalendar/fullcalendar.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script type="text/javascript">
      window.myApp = {};
      window.myApp.locals = {
        toasterOptions: { 'showDuration': '500' },
        _csrf: '<%= _csrf %>'
      };
    </script>

  </head>

  <body <%- bodyAttr %>>

<%- partial ('../_nav_authorized.ejs') %>

  <div class="container">
    <!--<div data-ng-view="" id="ng-view"></div>-->
    <section id="directives-calendar" ng-controller="CalendarController">
      <div class="row-fluid">
        <div class="col-md-8">
          <div class="btn-toolbar">
            <p class="pull-right lead">Calendar One View Options</p>
            <div class="btn-group">
              <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
              <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
              <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
            </div>
          </div>
          <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
        </div>
      </div>
    </section>
  </div>

<%- partial ('../_footer.ejs') %>

  <script src="/js/dependencies/jquery/jquery.min.js"></script>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular.min.js"></script>
  <script src="/js/dependencies/angular/modules/compareTo.module.js"></script>
  <script src="/js/dependencies/angular/directives/angular-toastr.js"></script>
  <script src="/js/public/utils.js"></script>
  <!--SCRIPTS END-->
  
  <!--<script src="/js/dependencies/angular/angular-route.min.js"></script>-->
  <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>-->
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
  <script src="/js/dependencies/moment/moment.min.js"></script>
  <script src="/js/dependencies/fullcalendar/fullcalendar.js"></script>
  <script src="/js/dependencies/fullcalendar/gcal.js"></script>
  <script src="/js/dependencies/angular/directives/calendar.js"></script>
  <script src="/js/private/schedule/Calendar.js"></script>

  </body>
</html>


